

<section id="home" data-stellar-backgrround-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 lgbtn">
      <a routerLink="/" class="brand"><i>Drugstore</i></a>
    </div>
    <div class="col-md-4 col-sm-12 text-white">
    </div>
  </div>


       <div class="row">
            <div class="col-md-6 col-sm-12">
              
                 <div class="home-info">
                   <h1>DRUGSTORE</h1>
                      <h4 class="text-white">Promoting soundhealth and bringing wellness to humanity.</h4>
                      
                 </div>
            </div>

       </div>
  </div>
</section>


<br>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/business/create" class="nav-link" routerLinkActive="active"><h3>
          Create Drug</h3>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/business" class="nav-link" routerLinkActive="active"><h3>
         All drugs </h3>
        </a>
      </li> 
    </ul>
  </div>
</nav>
