<section id="home" data-stellar-backgrround-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 lgbtn">
      <a routerLink="/" class="brand"><i>Drugstore</i></a>
    </div>
    <div class="col-md-4 col-sm-12 text-white">
        <h3 class="btns logbtn btn section-btn"><a routerLink="login">Login</a></h3>
      </div>
  </div>


       <div class="row">
            <div class="col-md-6 col-sm-12">
              
                 <div class="home-info">
                   <h1>DRUGSTORE</h1>
                      <h4 class="text-white">Promoting soundhealth and bringing wellness to humanity.</h4>
                      <a routerLink="signup" class="btn section-btn smoothScroll">Join Now</a>
                     
                 </div>
            </div>

       </div>
  </div>
</section>


<br>
